/*  Universal selector*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*styles for all elements in the body*/
body{
  
  line-height: 1.2;
  font-size: 15px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
}

#title{
  font-size: 30px;
  align-items: center;
  justify-content: center;
  color: orange;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 15%;
  padding-right: 20%;
  padding-left: 20%;
}
#single-blog{
  margin: 32px 10px;
  border-radius: 6px;
  padding:15px;
  background: rgba(19, 19, 19, 0.797);
  color: white;
  
}
#author{
  font-size: 100%;
  margin-right: 20%;
}

#blog-image img{
  border-radius: 2%;
  max-width: 100%;
}
p{
  margin-left: 5%;
  margin-bottom: 10px;
}
/*styles for image*/

/*styles for the description*/
#description{
 margin-bottom: 5px;
 padding-top: 50px;
 width: 100%;
 line-height: 1.5;
 margin: auto;
 word-wrap: break-word;
}

